:root {
  --gray: #1F1F1E;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

h1 {
  text-align: center; 
  font-size: 80px;
  font-weight: 900;
  padding: 20% 25%;
}

li {
  list-style: none;
  margin: 0 20px;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  
}

ul {
  display: flex;
  position: fixed;
  right: 0px;
  top: -16px;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;

  /* border: 1px solid red; */
  background-color: var(--gray);
}

section {
  border: 1px solid red;
  height: 100vh;
  margin: 10px;
}

.about {
  display: flex;
}

.pictures, .content {
  /* border: 1px solid red; */
  width: 50%;
}

div {
  /* border: 1px solid red; */
  padding: 10px;
}


.img-container {

  animation: move 10s linear infinite;

}

.section-hub {
  perspective: 1000px;
}

img {
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out;

  /* border: 1px solid red; */
}

img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}


.about1 {
  border: 1px solid red;
  top: 103px; 
  left: 493px;
  transform: translateZ(500px);
}

.about2 {
  border: 1px solid orange;
  top: 318px;
  left: 758px;
  transform: translateZ(1000px);
}

.portfolio1 {
  border: 1px solid yellow;
  top: 430px; 
  left: 847px;
  perspective-origin: top;
  transform: translateZ(1500px);
}

.portfolio2 {
  border: 1px solid greenyellow;
  top: 231px;
  left: -27px; 
  transform: translateZ(2000px);
}

.portfolio3 {
  border: 1px solid hotpink;
  top: 249px; 
  left: 252px;  
  transform: translateZ(2500px);
}

.experience1 {
  border: 1px solid green;
  top: 354px; 
  left: -50px; 
  transform: translateZ(2000px);
}

.experience2 {
  border: 1px solid blue;
  top: 529px; 
  left: 165px; 
  transform: translateZ(1500px);
}

.experience3 {
  border: 1px solid blueviolet;
  top: 127px; 
  left: 226px;
  transform: translateZ(1000px);
}

.resume {
  border: 1px solid burlywood;
  top: 547px; 
  left: -282px;
  transform: translateZ(500px);
}


@keyframes move {

  0% {
    transform: rotateY(0deg) translateZ(100px) rotateY(0deg);
  }
  25% {
    transform: rotateY(90deg) translateZ(100px) rotateY(-90deg); 
  }
  50% {
    transform: rotateY(180deg) translateZ(100px) rotateY(-180deg); 
  }
  75% {
    transform: rotateY(270deg) translateZ(100px) rotateY(-270deg);
  }
  100% {
    transform: rotateY(360deg) translateZ(100px) rotateY(-360deg); 
  }
  /* 0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  } */

}


