:root {
  --gray: #1F1F1E;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  
}

h1, h2, h3, h4, h5, h6, p {
  color: white;
}

h1 {
  text-align: center; 
  font-size: 80px;
  font-weight: 900;
  padding: 20% 25%;
}

li {
  list-style: none;
  margin: 0 20px;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  
}

ul {
  display: flex;
  position: fixed;
  right: 0px;
  top: -16px;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;

  /* border: 1px solid red; */
  background-color: var(--gray);

  transition: all 0.3s ease-in-out;
}

section {
  /* border: 1px solid red; */
  height: 100vh;
  margin: 10px;
}


.section-hub {
  overflow: hidden;
}

.img-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 99%; 
  height: 100%;
}


img {
  overflow: hidden;
  position: relative;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
  /* width: 50%;
  height: auto; */
  min-width: 100px;
  margin: 20px;

}

img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

/* img.active {
  position: relative;
  transform: scale(3) translate(-75px, 60px);
  transition: transform 0.5s ease-in-out;
  z-index: 101;
} */


.about1 {
  border: 1px solid red;
  top: 103px; 
  /* left: 493px; */
}

.about2 {
  border: 1px solid orange;
  top: -318px;
  /* left: 758px; */
}

.portfolio1 {
  border: 1px solid yellow;
  top: 130px; 
  /* left: 847px; */
}

.portfolio2 {
  border: 1px solid greenyellow;
  top: -231px;
  /* left: -27px;  */

}

.portfolio3 {
  border: 1px solid hotpink;
  top: 249px; 
  /* left: 252px;   */
}

.experience1 {
  border: 1px solid green;
  top: -94px; 
  /* left: -50px;  */
}

.experience2 {
  border: 1px solid blue;
  top: 329px; 
  /* left: 165px;  */
}

.experience3 {
  border: 1px solid blueviolet;
  top: -127px; 
  /* left: 226px; */
}

.resume {
  border: 1px solid burlywood;
  top: 247px; 
  /* left: -282px; */
}

.panel {
  position: absolute; 
  top: 135%;
  left: 25%;
  width: 50%;
  height: 50%;
  z-index: 1000;
  background-color: white;
  grid-area: "panel";
  border: 1px solid red;
}

.panel h3, p {
  color: black;
}





